<div 
  class="d-flex justify-content-center align-items-center vh-100" 
  style="background-image: url('assets/main-background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  
  <div class="white-box">
    <h1 class="text-center mb-4">Login</h1>
    <form>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
      <div class="text-center">
        <a routerLink="/vtregister">Register</a>
      </div>

      @if (message != "") {
        <div class="error-message mt-2">
            <img src="assets/icons/warning.png" width="18" height="18"> 
            {{message}}
        </div>
      }

      @if (message2 != "") {
        <div class="error-message clickable mt-2">
            <img src="assets/icons/warning.png" width="18" height="18"> 
            <a [routerLink]="'/loginAdministrator'">{{message2}}</a>
        </div>
      }
    </form>
  </div>
</div>